
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Javascrpit测试</title>
</head>
<body>
    <script type="text/javascript">

        
        function add1(a, b) {
            sum = a + b;
            return sum;
        }
        var result = add1(10, 20);
        console.log(sum);//执行结果：30


    </script>
</body>
</html>
