<?xml version="1.0" encoding="utf-8"?>
<XConfig>
  <!--链接名-->
  <ConnName>mssql</ConnName>
  <!--前缀-->
  <Prefix />
  <!--命名空间-->
  <NameSpace>ConnName</NameSpace>
  <!--模板名-->
  <TemplateName>[内置]纯属性</TemplateName>
  <!--输出目录-->
  <OutputPath>ConnName</OutputPath>
  <!--是否覆盖目标文件-->
  <Override>true</Override>
  <!--实体链接名-->
  <EntityConnName>ConnName</EntityConnName>
  <!--实体基类-->
  <BaseClass>Entity</BaseClass>
  <!--生成泛型实体类-->
  <RenderGenEntity>false</RenderGenEntity>
  <!--是否需要修正。默认true，将根据配置删除前缀、自动化大小写和完善注释等-->
  <NeedFix>true</NeedFix>
  <!--自动去除前缀-->
  <AutoCutPrefix>false</AutoCutPrefix>
  <!--是否自动去除字段前面的表名-->
  <AutoCutTableName>false</AutoCutTableName>
  <!--自动纠正大小写-->
  <AutoFixWord>false</AutoFixWord>
  <!--使用中文文件名-->
  <UseCNFileName>false</UseCNFileName>
  <!--强制使用ID-->
  <UseID>false</UseID>
  <!--使用头部模版-->
  <UseHeadTemplate>false</UseHeadTemplate>
  <!--头部模版-->
  <HeadTemplate>/*
 * XCoder v&lt;#=Version#&gt;
 * 作者：&lt;#=Environment.UserName + "/" + Environment.MachineName#&gt;
 * 时间：&lt;#=DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")#&gt;
 * 版权：版权所有 (C) 新生命开发团队 2002~&lt;#=DateTime.Now.ToString("yyyy")#&gt;
*/
</HeadTemplate>
  <!--调试-->
  <Debug>false</Debug>
  <!--数据字典-->
  <Items />
  <!--最后更新时间-->
  <LastUpdate>2014-06-12T01:36:10.2823481+08:00</LastUpdate>
  <!--最后一个使用的工具-->
  <LastTool>XCoder</LastTool>
</XConfig>